*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.header{
    height: 3.04rem;
    border-bottom: .266667rem solid #f8f8f8;
}
.header img{
     width: 100%;
}
.dailyTasks{
    border-bottom: .266667rem solid #f8f8f8;
}
.dailyTasks h3,.newbieTask h3{
    position: relative;
    line-height:.426667rem;
    padding: 0.4rem;
    border-bottom:1px solid #ededed;
    font-size: .426667rem;
    color: #333;
    padding-left: .8rem;
}
.dailyTasks h3:before,.newbieTask h3:before{
    content: "";
    display: block;
    width: .186667rem;
    height: .186667rem;
    background: #00adb4;
    border-radius: 50%;
    position: absolute;
    top: .56rem;
    left:0;
    margin-left: .266667rem;
}
.dailyTasks>div,.newbieTask>div{
    display: flex;
    align-items: center;
    height: 1.6rem;
    border-bottom: 1px solid #ededed;
    padding-left: .266667rem;
}

.dailyTasks>div>div span,.newbieTask>div>div span{
    display: flex;
    align-items: center;
    font-size: .4rem;
    color: #333;
}
.dailyTasks>div>div p,.newbieTask>div>div p{
    display: flex;
    align-items: center;
    width: 1.386667rem;
    height: .453333rem;
    border:1px solid #fbca08;
    border-radius: .16rem;
    font-size: .32rem;
    color: #fbca08;
    margin-top:.213333rem;
    margin-left: .533333rem;
}
.dailyTasks>div>div p img,.newbieTask>div>div p img{
    width: .28rem;
    height: .32rem;
    margin-left: .253333rem;
    margin-right: .093333rem;
}
.dailyTasks>div button:nth-of-type(1),.newbieTask>div button:nth-of-type(1){
    width: 1.76rem;
    height: .733333rem;
    background: #fa754c;
    color: #fff;
    border: none;
    outline: none;
    border-radius: .4rem;
    margin-left:auto;
    margin-right: .4rem;
}
.dailyTasks>div button:nth-of-type(2),.newbieTask>div button:nth-of-type(2){
    width: 1.76rem;
    height: .733333rem;
    border: none;
    border-radius: .4rem;
    margin-left:auto;
    margin-right: .4rem;
    color: #ffffff;
    background-color: #ddd;
}  
.dailyTasks>div>div span img,.newbieTask>div>div span img{
     width: .4rem;
     height: .4rem;
     margin-right: .146667rem;
}

